@use "/src/sass/containers";
@use "/src/sass/textsAndButtons";

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "helvetica";
  font-size: 11pt;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
